{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Salas</h2>
        <button type="button" class="btn btn-primary mb-2" data-bs-toggle="modal" data-bs-target="#novaSalaModal">
            <i class="bi bi-plus"></i>
            Nova Sala
        </button>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            {% for sala in salas %}
            <tr data-id="{{ sala.id }}">
                <td>{{ sala.id }}</td>
                <td>{{ sala.name }}</td>
                <td>
                    <a 
                    href="#" 
                    class="btn btn-warning btn-sm"
                    data-bs-toggle="modal"
                    data-bs-target="#editarSalaModal"
                    data-id="{{ sala.id }}" 
                    data-name="{{ sala.name }}"
                    >
                        <i class="bi bi-pencil"></i>
                        Editar
                    </a>
                    <a 
                    href="#" 
                    class="btn btn-danger btn-sm delete-button"
                    data-id="{{ sala.id }}">
                        <i class="bi bi-trash"></i>
                        Deletar
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Modal para criar novo sala -->
<div class="modal fade" id="novaSalaModal" tabindex="-1" aria-labelledby="novaSalaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="novaSalaModalLabel">Nova Sala</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="novoSalaForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="name" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para editar sala -->
<div class="modal fade" id="editarSalaModal" tabindex="-1" aria-labelledby="editarSalaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarSalaModalLabel">Editar Sala</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editarSalaForm">
                    <input type="hidden" id="edit-sala-id">
                    <div class="mb-3">
                        <label for="edit-name" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="edit-name" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}